<div
    class="mt-8 flex flex-wrap gap-2"
    data-testid="intention-chips"
    x-file-name="HomePage"
    x-line-number="138"
    x-column="12"
    x-component="div"
    x-id="HomePage_138_12"
    x-dynamic="true"
    x-source-type="computed"
    x-source-editable="false"
>
    <span
        class="text-xs uppercase tracking-[0.25em] text-white/40 w-full mb-1"
        x-file-name="HomePage"
        x-line-number="142"
        x-column="14"
        x-component="span"
        x-id="HomePage_142_14"
        x-dynamic="false">Popular intentions</span
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-love"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">love</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-protection"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">protection</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-abundance"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">abundance</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-clarity"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">clarity</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-courage"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">courage</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-healing"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">healing</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-intuition"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">intuition</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-peace"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">peace</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-creativity"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">creativity</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-grounding"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">grounding</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-luck"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">luck</button
    ><button
        class="px-4 py-1.5 rounded-full border text-sm capitalize transition-colors border-white/15 text-white/70 hover:border-white/40 hover:text-white"
        data-testid="chip-confidence"
        x-file-name="HomePage"
        x-line-number="146"
        x-column="16"
        x-component="button"
        x-id="HomePage_146_16"
        x-dynamic="true"
        x-source-type="static-imported"
        x-source-var="intentions"
        x-source-editable="false"
        x-array-var="intentions"
        x-array-item-param="intent">confidence</button>
</div>
